@import '../../../AppStyle/_vars'
@import '../../../AppStyle/_mixins'

*
    margin: 0
    padding: 0
    border: 0

.body
    font-family: $mainFont, sans-serif

a
    cursor: pointer
    text-decoration: none

.products
    &__start
        text-align: center
        justify-content: center
        margin-bottom: 48px

        &__title
            color: $widthSite
            font-family: $mainFont, sans-serif
            font-size: 30px
            font-style: normal
            font-weight: 400
            line-height: normal

        &__text
            color: #9F9F9F
            font-family: $mainFont, sans-serif
            font-size: 14px
            font-style: normal
            font-weight: 400
            line-height: normal
